.unreadContent{
    position: fixed;
    bottom: 0%;
    right: 0%;
    min-height: 200px;
    max-height: 200px;
    overflow-y: scroll;
    padding-right: 200px;
}

.unreadContent p:hover {
    cursor: pointer;
}

.submitBtn{
    width: 12rem;
    height: 2.5rem;
    background-color: #598392;
    border-radius: 5px;
    border: 1px solid;
    color: white;
}