<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>WebReserve</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/business.css}">


</head>
<body>

<section id="header">
    <div class="container">

        <a class="icon" th:href="@{/home}"><img alt="" src="/img/WR-icon.png"></a>

        <div class="content">
            <a th:href="@{/login}">
                <button class="button">Log In</button>
            </a>
            <a th:href="@{/registration}">
                <button class="button">Sign In</button>
            </a>
        </div>

    </div>

</section>

<section id="business">
    <div class="container mainContainer " th:each="business : ${businessById}">
        <div class="row">
            <div class="col-3">
                <div>
                    <img alt="No Image" class="profilePicture"
                         th:src="*{'data:image/jpeg;base64,'+ {business.image}}">
                </div>
                <div class="decorationLine"></div>
                <div>
                    <h3>Address</h3>
                    <p>[[${business.address}]]</p>
                    <h3>Phone number</h3>
                    <p>[[${business.pNumber}]]</p>
                </div>
                <div class="decorationLine"></div>
                <h3>Services</h3>
                <p><span th:each="tag :${business.tags}"> [[${tag.value}]]</span></p>
            </div>
            <div class="col-9">
                <h1>[[${business.name}]]</h1>
                <div class="rating">
                    <p id="avgRating"></p>
                    <div>
                        <span class="fa fa-star" id="rateStar1"></span>
                        <span class="fa fa-star" id="rateStar2"></span>
                        <span class="fa fa-star" id="rateStar3"></span>
                        <span class="fa fa-star" id="rateStar4"></span>
                        <span class="fa fa-star" id="rateStar5"></span>
                    </div>
                </div>
                <div class="decorationLine"></div>
                <div class="actionHolder">
                    <p id="feedbacks" onclick="changeAction(this.id)">Feedbacks</p>
                    <p id="saveDate" onclick="changeAction(this.id)">Save Date</p>
                    <p id="sendFeedbacks" onclick="changeAction(this.id)">Send Feedbacks</p>
                    <p id="chat" onclick="changeAction(this.id)">Chat</p>
                </div>
                <div class="noDisplay" id="saveDateBox">
                    <form id="reservationSearch">
                        <label>Reservation Date</label>
                        <input id="reservationDateInput" type="date">
                        <input type="submit"><br>
                        <select id="reservationSelect">
                        </select>
                        <button id="reservationSaveButton" onclick="saveRegistration()" style="display:none">Save The
                            Date
                        </button>
                    </form>
                </div>
                <div class="noDisplay" id="sendFeedbacksBox">
                    <div class="ratings" th:object="${businessById}">
                        <div class="rate">
                            <span class="fa fa-star checked" id="star1" th:onclick="starColorChange(this.id)"></span>
                            <span class="fa fa-star" id="star2" th:onclick="starColorChange(this.id)"></span>
                            <span class="fa fa-star" id="star3" th:onclick="starColorChange(this.id)"></span>
                            <span class="fa fa-star" id="star4" th:onclick="starColorChange(this.id)"></span>
                            <span class="fa fa-star" id="star5" th:onclick="starColorChange(this.id)"></span>
                        </div>
                        <p>Enter your opinion about this service!</p>
                        <textarea class="rateMessage" cols="50" id="rateMessage" rows="4"></textarea><br>
                        <button th:onclick="rateBusiness([[${businessById.id}]],[[${#authentication.principal.id}]])">
                            Send rating
                        </button>
                    </div>
                </div>

                <div class="display" id="feedbacksBox">
                    <div class="ratingBox" th:each="rating : ${ratings}">
                        <p class="ratingText">[[${rating.message}]]</p>
                        <p>[[${rating.value}]]</p>
                    </div>
                    <div class="ratingBox" th:each="rating : ${ratings}">
                        <p>[[${rating.message}]]</p>
                        <p>[[${rating.value}]]</p>
                    </div>
                    <div class="ratingBox" th:each="rating : ${ratings}">
                        <p>Nagyon Fain</p>
                        <p>[[${rating.value}]]</p>
                    </div>
                </div>
                <div class="noDisplay" id="chatBox">
                    <div id="chats">
                        <p th:class="${message.fromId}" th:each="message : ${messages}">
                            [[${message.messageContent}]]</p>
                    </div>
                    <input id="chatMessage" size="40" type="text">
                    <br/>
                    <button id="send" onclick="send()" type="button">Send</button>
                </div>
            </div>
        </div>


    </div>


</section>

<script th:src="@{/js/reservation.js}"></script>
<script th:src="@{/js/reservationsave.js}"></script>
<script th:src="@{/js/rating.js}"></script>
<script th:src="@{/js/business.js}"></script>
<script th:src="@{/js/businessChat.js}"></script>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>