<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>WebReserve</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/myBusiness.css}">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<section id="header">
    <div class="container">

        <a class="icon" th:href="@{/home}"><img alt="" src="/img/WR-icon.png"></a>

        <div class="content">
            <div class="unreadContent">
                <p th:each="message : ${unreadMessages}" th:onclick="goToUser([[${message.id}]])">New message
                    from:[[${message.name}]]</p>
            </div>
        </div>

    </div>
</section>
<section id="mytable">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Logo</th>
            <th>NAME</th>
            <th>PHONE</th>
            <th>ADDRESS</th>
            <th>TAGS</th>
            <th>StartTime</th>
            <th>EndTime</th>
            <th>TimeInt.</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="business : ${myBusiness}">
            <tr>
                <td><img alt="No Image" style="height:100px;" th:src="*{'data:image/jpeg;base64,'+ {business.image}}">
                </td>
                <td>[[${business.name}]]</td>
                <td>[[${business.pNumber}]]</td>
                <td>[[${business.address}]]</td>
                <td><span th:each="tag :${business.tags}"> [[${tag.value}]]</span></td>
                <td>[[${business.startTime}]]</td>
                <td>[[${business.endTime}]]</td>
                <td>[[${business.timeInterval}]]</td>
                <td class="icon-container">
                    <i class="fas fa-user-edit icon" id="editButton"></i>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</section>

<section>
    <p>Take a holiday:</p>
    <input name="daterange" type="text"/>
    <section id="myHolidays">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="holiday : ${holidays}">
                <tr>
                    <td>[[${holiday.startDate}]]</td>
                    <td>[[${holiday.endDate}]]</td>
                    <td>
                        <button class="btn btn-danger" th:onclick="deleteHoliday([[${holiday.id}]])" type="button">
                            Delete
                        </button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </section>
</section>


<section id="myreservations">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>DATE</th>
            <th>START</th>
            <th>END</th>
            <th>CLIENT</th>
            <th>Delete</th>

        </tr>
        </thead>
        <tbody>
        <th:block th:each="reservation : ${myBusinessReservations}">
            <tr>
                <td>[[${reservation.reservationDate}]]</td>
                <td>[[${reservation.startTime}]]</td>
                <td>[[${reservation.endTime}]]</td>
                <td><span th:each="user :${reservation.user}"> [[${user.firstName + "    " + user.lastName}]]</span>
                </td>
                <td>
                    <button class="btn btn-danger" th:onclick="deleteReservation([[${reservation.id}]])" type="button">
                        Delete
                    </button>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</section>

<section class="editSection" id="edit">
    <div class="greyBox"></div>
    <div class="editcontainer" id="editbox">
        <div class="modal-content-reg">
            <p class="exitX" onclick="exitEdit()">x</p>
            <img alt="" src="/img/WR-icon.png">
            <div class="editContent">
                <form id="businessEditForm" method="POST"
                      th:object="${myBusiness}">
                    <span>Name</span>
                    <input id="name" name="name" th:field="*{name}" type="text">
                    <span>Phone Number</span>
                    <input id="pNumber" name="pNumber" th:field="*{pNumber}" type="text">
                    <span>Address</span>
                    <input id="address" name="address" th:field="*{address}" type="text">
                    <span>Tags</span>
                    <input id="tags" name="tags" type="text">
                    <span>Start Time</span>
                    <input id="startTime" name="starTime" th:value="*{startTime}" type="time">
                    <span>End Time</span>
                    <input id="endTime" name="endTime" th:value="*{endTime}" type="time">

                    <button class="btn" id="btnSubmit" type="submit">SAVE</button>
                </form>
                <form id="changePictureForm">
                    <span>Change Profile Picture</span>
                    <input id="file" name="file" type="file">
                    <button class="btn" id="changePictureFormSubmit" type="submit">
                        Submit
                    </button>

                </form>
            </div>
        </div>
    </div>

</section>

<script th:src="@{/js/edit.js}"></script>
<script th:src="@{/js/goToUser.js}"></script>
<script th:src="@{/js/businessEdit.js}"></script>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
</body>
</html>